{% extends 'base.html' %}
{% block title %}Личный кабинет{% endblock title %}
{% block content %}
<header class="cabinet__header">
    <div class="container">
        <a href="/createTest" class="btn btn-success">Создать тест</a>
        <a href="/logout" class="btn btn-danger">Выйти</a>
    </div>
</header>
<main class="cabinet__main">
    <div class="container">
        <div class="tools">
            <div class="tools-text">Ваши тесты</div>
        </div>
        
        {% if test_list.count == 0 %}
            <h3 class="text-center">У вас нет созданных тестов</h3>
        {% else %}
            {% for test in test_list %}
                <div class="test-list">
                    <div class="test-item card">
                        <a href="#">
                            <div class="card-body">
                                <div class="test-item__title">{{ test.name }}</div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</main>
{% endblock content %}